{% extends 'base.html.twig' %}

{% block title %}Inventaire des équipements{% endblock %}

{% block body %}
    <div class="home">
        <h1>Inventaire des équipements</h1>

        <a href="{{ path('app_equipment_new') }}">Ajouter un nouvel équipement</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Modèle</th>
                    <th>Description</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
            {% for equipment in equipment %}
                <tr>
                    <td>{{ equipment.id }}</td>
                    <td>{{ equipment.model }}</td>
                    <td>{{ equipment.description }}</td>
                    <td>{{ equipment.picture }}</td>
                    <td>
                        <a href="{{ path('app_equipment_show', {'id': equipment.id}) }}">Voir</a>
                        <a href="{{ path('app_equipment_edit', {'id': equipment.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun équipement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
